<!DOCTYPE html>
<html>
<head>
  <title>Event Planner</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <h1>Welcome to Event Planner</h1>
  <a href="/register">Register</a> | <a href="/login">Login</a>
</body>
</html>
