<head>
    <link rel="stylesheet" href="/css/style.css">

</head>
<div class="form-header">
  <h2>Login</h2> <!-- Change to "Login" if needed -->
</div>
<form method="POST" action="/login">
  <input name="email" type="email" placeholder="Email" required>
  <input name="password" type="password" placeholder="Password" required>
  <button type="submit">Login</button>
 <div style="text-align: right; margin-top: 8px;">
    <a href="/forgot-password" style="font-size: 14px; color: #007BFF;">Forgot Password?</a>
  </div> 
</form>
<div id="text">
<h3>Don't have an account? Register now!</h3>
<a href="/register">Register</a>
</div>
